.diseño1{
    background-image: url('/imagenes/camiseta.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 0px;
    background-color: black;
    transition: width 1s ease;
    box-shadow: -20px 0px 10px 0px rgba(0, 0, 0, 0.604);

}
.diseño2{
    background-image: url('/imagenes/pegatina.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 0px;
    transition: width 1s ease;
    box-shadow: -20px 0px 10px 0px rgba(0, 0, 0, 0.604);

}
.diseño3{
    background-image: url('/imagenes/disco.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 0px;
    transition: width 1s ease;
    box-shadow: -20px 0px 10px 0px rgba(0, 0, 0, 0.604);
}

.diseño1:hover{
    width: 150%;
}
.diseño2:hover{
    width: 150%;
}
.diseño3:hover{
    width: 150%;
}

/* Sobre mi*/

.contacta{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35.2rem;
    margin: 5rem;
}
.foto{
    background-image: url(imagenes/estudio.jpeg);
    width: 50vw;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 3%;
}

.texto p{
    color: black;
    font-weight: normal;
    font-family: "Roboto";
    font-size: medium;
    margin: 20px;
    margin-bottom: 10%;
}
.texto h1{
    color: #663366;
    font-family: "Roboto";
    font-size: xx-large;
    margin-bottom: 10%;
}

.contactoBton{
    font-size: 20px;
    font-family: "Roboto";
    color: white;
    background-color: #663366;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:10px ;
    padding-bottom:10px;
    width: 50%;
    margin: 20px;
}
