*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    font-family: "Roboto";
}
/* Barra de navegación */
header{
    height:7vh;
    background-color: #663366;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Nav{
    display: flex;
    justify-content: center;
}

.Nav a{
    text-decoration: none;
    font-family: "Roboto";
    color: white;
    margin: 1.5rem;
}

.Empresa{
    margin: 2rem;
    font-size: 150%;
    font-family: "Antonio";
    color: white;
    text-decoration: none;
}

.botones{
    margin: 0.5rem;
}   

.btnRegistro{
    background-color: white;
    color: #663366;
    padding: 0.5rem;
    font-family: "Roboto";
    margin: 0.5rem;
    border-radius: 0.5rem;
}

.botones a{
    text-decoration: none;
    font-family: "Roboto";
    color: #663366;
    text-align: center;
}

/* Footer  */
footer nav{
    height:15vh;
    background-color: #663366;
    color: white;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

footer p{
    color: white;
    font-size: small;
}

/* a */
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}
form h1{
    font-family: "Roboto";
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

form input{
    width: 80%;
    border: 2px solid  #663366;
    margin: 10px;
    padding: 10px;
}

form button{
    width: 80%;
    border: 2px solid  #663366;
    margin: 10px;
    padding: 10px;
    background-color: #663366;
    color: white;
}
.formInicio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.formInicio2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.inicioSesion{
    background-color: white;
    width: 50%;
    height: 100%;
    color: #663366;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenInicio{
    width: 50%;
    height:100%;
    background-image: url('imagenes/estudio.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: -35px;
}

@media (max-width:952px) {
    .tarjetas{
        flex-direction: column;
    }
    .Nav a {
        margin: 0.2rem;
    }
}