
.tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.tarjeta {
    margin: 5rem;
    height: 20rem;
    width: 40rem;
    border-radius: 55px;
    background: #e0e0e0;
    box-shadow:  22px 22px 74px #cecece,
                -22px -22px 74px #f2f2f2;
    
}
.tarjeta p{
    font-size: 1.3rem;
}
.carcasa{
    width: 100%;
    height: 100%;
    display: flex;
}
.black{
    background-image: url('../imagenes/p3.jpg');
    width: 100%;
    height: 100%;
    background-size:cover;
    border-top-left-radius: 55px;
    border-bottom-left-radius: 55px;
}
.imagen1{
    background-image: url('../imagenes/byron.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: width 1s ease;
    box-shadow: -20px 0px 10px 0px rgba(0, 0, 0, 0.604);
}

.imagen2{
    background-image: url('../imagenes/future.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: -100px;
    transition: width 1s ease;
    box-shadow: -20px 0px 10px 0px rgba(0, 0, 0, 0.604);

}
.imagen3{
    background-image: url('../imagenes/mhumcho.jpeg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: width 1s ease;
    box-shadow: -20px 0px 10px 0px rgba(0, 0, 0, 0.604);

}
.imagen4{
    background-image: url('../imagenes/gunna.webp');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: -74px;
    transition: width 1s ease;
    box-shadow: -20px 0px 10px 0px rgba(0, 0, 0, 0.604);

}
.imagen1:hover{
    width: 150%;
}
.imagen2:hover{
    width: 150%;
}
.imagen3:hover{
    width: 150%;
}
.imagen4:hover{
    width: 150%;
}
p{
    font-family: "Roboto";
    font-weight: bold;
    color: #663366;
    font-size: 25px;
    margin-top: 15px;
}

.imagen6{
    background-image: url('../imagenes/disco.png');
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-position: 0px;
}
.imagen7{
    background-image: url('../imagenes/disco.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 0px;
}
.imagen8{
    background-image: url('../imagenes/disco.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 0px;
}
.imagen9{
    background-image: url('../imagenes/disco.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 0px;
}
